<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="checkbox" value="01" v-model="msg"> 吃饭
        <input type="checkbox" value="02" v-model="msg"> 睡觉
        <input type="checkbox" value="03" v-model="msg"> 打豆豆
        <input type="checkbox" value="04" v-model="msg"> 老人
        <input type="checkbox" value="05" v-model="msg"> 男人
        <input type="checkbox" value="06" v-model="msg"> 女人
        {{msg}}
    </div>
    <script src="./node_modules/vue/dist/vue.min.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: function () {
                return {
                    msg: ["01", "02"]
                }
            }
        });
    </script>
</body>

</html>